@import '../../constants/styles/color';

.menu-nav {
    background: $blue-primary;
    font-size: 18px;
    padding: 16px 0;
}

.menu-nav-descriptor {
    color: #fff;
    display: none;
    padding: 0 16px 0 0;
    text-transform: uppercase;
}

.menu-nav-link {
    color: $pink-primary;

    & + .menu-nav-link {
        padding: 0 16px 0 0;
    }
}