@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.menu-nav {
    background: $blue-primary;
    font-size: 18px;
    padding: 16px 0;

    @include breakpoint-tablet {
        text-align: center;
    }
}

.menu-nav-descriptor {
    color: #fff;
    display: none;
    padding: 0 16px 0 0;
    text-transform: uppercase;
}

.menu-nav-link {
    color: $pink-primary;

    & + .menu-nav-link {
        padding: 0 0 0 16px;
    }
}