@import '../../constants/styles/dimensions';

.menu-header-mobile {
    display: block;

    @include breakpoint-tablet {
        display: none;
    }
}

.menu-header-desktop {
    display: none;

    @include breakpoint-tablet {
        display: block;
    }
}