@import '../base.scss';
@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.menu-section-description {
    margin: 0 0 32px;

    h3 {
        @extend .font-secondary;
        color: $pink-dark;
        font-size: 24px;
        margin: 0 0 12px;

        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)  {
            margin-top: 32px;
        }
    }

    ul {
        margin: 8px 0;

        li {
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;

            & + li {
                margin-left: 12px;
            }
        }
    }

    hr {
        border: 0;
        outline: none;
        margin: 32px 0 0;
        padding: 0;
    }

    p {
        padding: 0 32px;

        @include breakpoint-desktop {
            padding: 0;
            margin: 0 auto;
            max-width: 75%;
        }
    }

}