@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.menu-nav {
    background: $blue-primary;
    cursor: pointer;
    font-size: 18px;
    height: 12px;
    padding: 16px 0;
    position: relative;

    @include breakpoint-tablet {
        height: auto;
        text-align: center;
    }

    &::after {
        border: 2px solid #fff;
        border-top-color: transparent;
        border-right-color: transparent;
        content: '';
        height: 8px;
        position: absolute;
        right: 20px;
        top: 11px;
        transform: rotate(-45deg);
        transition: transform 0.3s ease, top 0.3s ease;
        width: 8px;

        @include breakpoint-tablet {
            display: none;
        }
    }

    &::before {
        color: #fff;
        content: 'BROWSE OUR MENU';
        font-weight: 900;
        left: 16px;
        position: absolute;
        top: 12px;

        @include breakpoint-tablet {
            display: none;
        }
    }

    .container {
        background: $blue-primary;
        border-top: 1px solid $pink-primary;
        box-sizing: border-box;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translateY(16px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        width: 100%;
        z-index: 10;

        @include breakpoint-tablet {
            border-top: 0;
            opacity: 1;
            pointer-events: unset;
            position: static;
            transform: translateY(0)
        }
    }
}

.menu-nav--expanded {
    &::after {
        transform: rotate(135deg);
        top: 18px;
    }

    .container {
        opacity: 1;
        pointer-events: unset;
        transform: translateY(0);
    }
}

.menu-nav-descriptor {
    display: none;
}

.menu-nav-link {
    color: $pink-primary;
    display: block;
    padding: 12px;
    transition: color 0.2s ease;
    
    &:hover {
        color: #fff;
        border: 0;
    }

    @include breakpoint-tablet {
        display: inline-block;
        padding: 0;
    }

    & + .menu-nav-link {
        border-top: 1px solid $pink-primary;

        @include breakpoint-tablet {
            border-top: 0;
            padding: 0 0 0 16px;
        }
    }
}