@import '../../constants/styles/dimensions';

.menu-callout {
    background: rgb(253, 236, 212);
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;

    @include breakpoint-desktop {
        height: 350px;
    }

    img {
        height: auto;
        width: 100%;
    }
}

.menu-callout-button {
    margin-top: -38px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10;
}