@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.menu-header {
    background: $pink-primary;
    text-align: left;

    @include breakpoint-tablet {
        text-align: center;
    }

    .container {
        padding-bottom: 64px;
        padding-top: 48px;
    }

    h1 {
        color: $blue-primary;
        padding :0;
        text-transform: uppercase;
    }
}

.menu-header-intro {
    color: $blue-primary;
    margin: 12px 0 0;
    max-width: 400px;

    @include breakpoint-tablet {
        margin: 12px auto 0;
    }
}