@import '../constants/styles/color';
@import '../constants/styles/dimensions';

.about-introduction {
    color: $blue-primary;
    font-size: 22px;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 600px;
    padding: 35px 24px 0px 24px;
    text-align: center;

    @include breakpoint-tablet {
        padding: 50px 24px 5px;
        font-size: 26px;
    }
}