@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.flavors {
    background: $pink-dark;
    color: $blue-primary;
    padding: 24px 0;

    .container {
        @include breakpoint-tablet {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
}

.flavors-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flavors-image {
    height: 40px;
    width: 40px;
}

.flavors-title {
    display: inline-block;
    color: inherit;
    font-size: 24px;
    padding: 4px 0 0 16px;
}

.flavors-list {
    color: #fff;
    margin: 16px 0 0;
    text-align: center;

    @include breakpoint-tablet {
        margin: 0;
        padding-left: 32px;
    }

    li {
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;

        @include breakpoint-tablet {
            font-size: 18px;
        }

        & + li {
            padding-left: 32px;
        }
    }
}