@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.hours {
    margin: 0 auto;
    max-width: 260px;
    text-align: left;
    width: fit-content;

    @include breakpoint-tablet {
        margin: 0;
    }
}

.hours-row {
    display: flex;
}

.hours-day {
    box-sizing: border-box;
    color: $pink-dark;
    flex: 0 140px;

    .hours--dark-bg & {
        color: $pink-primary;
    }
}

.hours-time {
    color: $blue-primary;
    flex: 1 auto;
    padding: 0 0 0 16px;

    .hours--dark-bg & {
        color: #fff;
    }
}