@import '../../constants/styles/color';
@import '../../constants/styles/dimensions';

.navbar {
    background: $pink-primary;
    height: $navbar-height;
    position: sticky;

    .container {
        align-items: center;
        display: flex;
        padding-top: 54px;

        @include breakpoint-tablet {
            padding: 0 32px;
            height: 100%;
        }
    }
}

.navbar-brand {
    color: $blue-primary;
    font-size: 36px;
    text-align: center;
    left: 16px;
    position: absolute;
    top: 16px;
    white-space: nowrap;

    @include breakpoint-tablet {
        flex: 1 33.3333%;
        position: static;
    }
}

.navbar-brand-city {
    display: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: -4px 0 0;

    @include breakpoint-tablet {
        display: block;
    }
}

.navbar-social {
    flex: 1 auto;
    text-align: right;

    @include breakpoint-tablet {
        flex: 1 33.3333%;
    }

    a {
        align-items: center;
        background: $blue-primary;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        margin-left: 8px;
        width: 32px;

        @include breakpoint-phone-large {
            margin-left: 16px;
        }
    }
}

.navbar-burger {
    display: none;
}

.navbar-menu {
    flex: 0 auto;
    white-space: nowrap;

    @include breakpoint-tablet {
        flex: 1 33.3333%;
    }

    a {
        margin-right: 12px;
        text-transform: uppercase;

        @include breakpoint-phone-large {
            margin-right: 24px;
        }
    }
}